@import "../../../assets/scss/helpers";
.active {
    color: white !important;
    border-bottom: 5px solid $main-blue;
    position: absolute;
    top: -5px;
}

.ui-link {
    position: relative;
    color: $main-gray;
    font-size: 12px;
    padding: 19px 45px 16px 45px;
    background-color: $main-deep-blue;
}

.binadox-logo-white {
    background-color: $main-light-blue;
    width: 267px;
    height: 52px;
    img {
        width: 120px;
        height: 27px;
    }
}

.nav-top {
    background-color: $main-light-blue;
}

.nav-bottom {
    background-color: $main-deep-blue;
    height: 52px;
    .empty-block {
        content: '';
        width: 267px;
    }
}

.user-nav {
    font-size: 26px;
    height: 52px;
    padding-right: 124px;
    color: $main-light-gray;
    .user-name {
        font-size: 10px;
        color: white;
        margin: 0;
        padding-left: 20px;
        padding-right: 15px;
    }
    .fa-chevron-down {
        font-size: 11px;
    }
}