<div class="bg-gray wraper  py-5">
  <div class="ui-card mx-auto">
    <div>
      <strong>Download agent</strong>
    </div>

    <div class="ui-agent-box pt-3 d-flex flex-wrap justify-content-between">
      <div class="ui-agent d-flex flex-wrap justify-content-between align-items-center">
        <img src="../../../../assets/img/services/windows-icon.png" alt="Windows agent">
        <p>Download Agent
          <br>for Windows</p>
        <div class="button-download">Download</div>
      </div>
      <div class="ui-agent d-flex flex-wrap justify-content-between align-items-center">
        <img src="../../../../assets/img/services/linux-icon.png" alt="Linux agent">
        <p>Download Agent
          <br>for Linux</p>
        <div class="button-download">Download</div>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-6">
        <a href="#">MSIEXEC instructions</a>
      </div>
      <div class="col-6">
        <a href="#">Linux deployment instructions</a>
      </div>
    </div>
    <div class="ui-extensions mt-4">
      <div class="mb-4">
        <strong >Install Agent Extensions</strong>
      </div>
      <div class="icon-box">
        <img src="../../../../assets/img/services/chrome-icon.png" alt="Chrome">
      </div>
      <div class="icon-box">
        <img src="../../../../assets/img/services/firefox-icon.png" alt="Firefox">
      </div>
      <div class="icon-box not-install">
        <img src="../../../../assets/img/services/microsoft-edge-icon.png" alt="Microsoft-edge">
      </div>
      <div class="icon-box not-install">
        <img src="../../../../assets/img/services/opera-icon.png" alt="Opera">
      </div>
    </div>
  </div>
</div>
