<div class="wraper d-flex flex-column justify-content-center align-items-center">

  <img src="../../assets/img/logo_white-01.png" alt="" class="binadox-logo">
  <div class="pb-5">
    <strong>SaaS management and optimization</strong>
  </div>

  <form class="form-signin" [formGroup]="form">

    <div class="form-signin-heading pb-4">
      <strong>Sign In</strong>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-3">
        <label for="email" class="">Username</label>
      </div>
      <div class="col-sm-9">
        <input [style.border-color]="user?.loginStatus === false ? '#f45757': '#9a9a9a'" formControlName="email" type="email"
          id="email" class="form-control" placeholder="Username" required autofocus>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <small class="form-text text-danger mt-2 mb-0">{{user?.message}}</small>
      </div>

    </div>
    <div class="row align-items-center pt-2">
      <div class="col-sm-3">
        <label for="password" class="">Password</label>
      </div>
      <div class="col-sm-9">
        <input [style.border-color]="user?.loginStatus === false ? '#f45757': '#9a9a9a'" formControlName="password" type="password"
          id="password" class="form-control mb-0" placeholder="Password" required>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-right">
        <button class="button" type="submit" [disabled]="!form.valid" (click)="login()">Login</button>

      </div>
    </div>
  </form>
</div>
